.checker {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  &__piece {
    height: 85%;
    width: 85%;
    border-radius: 50%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    img {
      height: 50%;
      width: 50%;
    }
    &:after {
      position: absolute;
      content: '';
      border: 2px solid white;
      border-radius: 50%;
      height: 70%;
      width: 70%;
    }
  }
  &.player {
    &-a {
      .checker__piece {
        background-color: brown;
      }
    }
    &-b {
      .checker__piece {
        background: black;
      }
    }
  }
}