.checker {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  z-index: 1;
  &__piece {
    height: 85%;
    width: 85%;
    border-radius: 50%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    img {
      height: 50%;
      width: 50%;
    }
    &:after {
      position: absolute;
      content: '';
      border: 2px solid white;
      border-radius: 50%;
      height: 70%;
      width: 70%;
    }
  }
  &.player {
    &-a {
      .checker__piece {
        background-color: brown;
      }
    }
    &-b {
      .checker__piece {
        background: black;
      }
    }
  }
  &.moving-a {
    animation: move-a 150ms forwards;
    &.jump {
      animation: move-a-jump 150ms forwards;
    }
  }
  &.moving-b {
    animation: move-b 150ms forwards;
    &.jump {
      animation: move-b-jump 150ms forwards;
    }
  }
  &.moving-c {
    animation: move-c 150ms forwards;
    &.jump {
      animation: move-c-jump 150ms forwards;
    }
  }
  &.moving-d {
    animation: move-d 150ms forwards;
    &.jump {
      animation: move-d-jump 150ms forwards;
    }
  }
}

@keyframes move-a {
  0% {
    top: 0;
    left: 0;
  }
  100% {
    top: -100%;
    left: -100%;
  }
}

@keyframes move-a-jump {
  0% {
    top: 0;
    left: 0;
  }
  100% {
    top: -200%;
    left: -200%;
  }
}

@keyframes move-b {
  0% {
    top: 0;
    left: 0;
  }
  100% {
    top: -100%;
    left: 100%;
  }
}

@keyframes move-b-jump {
  0% {
    top: 0;
    left: 0;
  }
  100% {
    top: -200%;
    left: 200%;
  }
}

@keyframes move-c {
  0% {
    top: 0;
    left: 0;
  }
  100% {
    top: 100%;
    left: 100%;
  }
}

@keyframes move-c-jump {
  0% {
    top: 0;
    left: 0;
  }
  100% {
    top: 200%;
    left: 200%;
  }
}

@keyframes move-d {
  0% {
    top: 0;
    left: 0;
  }
  100% {
    top: 100%;
    left: -100%;
  }
}

@keyframes move-d-jump {
  0% {
    top: 0;
    left: 0;
  }
  100% {
    top: 200%;
    left: -200%;
  }
}