.square {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  &.color {
    &-a {
      background-color: beige;
    }
    &-b {
      background-color: mediumaquamarine;
    }
  }
}