.square {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &.color {
    &-a {
      background-color: beige;
    }
    &-b {
      background-color: mediumaquamarine;
    }
  }
}